.typer > .kana {
  display: flex;

  font-size: var(--fnt-size-kana);
  font-family: var(--fnt-family-jap);
  
  transition: transform .1s linear;

  white-space: nowrap;
}

.typer > .kana > .morae {
  --clr-kana: var(--clr-bg-3);

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--clr-kana);
}

.typer > .kana > .morae.current {
  --clr-kana: var(--clr-txt-1);
}

.typer > .kana > .morae.correct {
  --clr-kana: var(--clr-success);
}

.typer > .kana > .morae.incorrect {
  --clr-kana: var(--clr-failure);
}

.typer > .kana .morae__furigana {
  font-size: .3em;
  opacity: .4;
  height: 1.8rem;
  padding: 0 .5em;
}

.typer > .kana .morae.correct .morae__furigana,
.typer > .kana .morae.incorrect .morae__furigana {
  opacity: 1;
}

.typer > .kana .morae__translation {
  font-size: .2em;
  height: 1.2rem;
  font-family: var(--fnt-family);
  padding: 0 .5em;
}

.typer > .kana > .morae > hr {
  margin: .05em 0;
  width: calc(100% - .2em);

  border: none;
  border-bottom: 1px solid var(--clr-kana);
}

.typer > .kana .morae__symbol {
  font-size: 1em;
  letter-spacing: .1em;
  height: 6rem;
}