.typer > .kana {
  display: flex;

  font-size: var(--kana-font-size);
  
  transition: transform .1s linear;

  white-space: nowrap;
}

.typer > .kana > .morae {
  --morae-color: rgb(170, 170, 170);

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--morae-color);
}

.typer > .kana > .morae.current {
  --morae-color: #0a0a0a;
}

.typer > .kana > .morae.correct {
  --morae-color: rgb(80, 192, 80);
}

.typer > .kana > .morae.incorrect {
  --morae-color: rgb(209, 22, 22);
}

.typer > .kana .morae__furigana {
  font-size: .3em;
  opacity: 20%;
}

.typer > .kana .morae__translation {
  font-size: .2em;
}

.typer > .kana > .morae > hr {
  margin: .05em 0;
  width: calc(100% - .2em);

  border: none;
  border-bottom: 1px solid var(--morae-color);
}

.typer > .kana .morae__symbol {
  font-size: 1em;
  letter-spacing: .1em;
}