.typer__progress-bar {
  --progress-bar-height: .7rem;
  --progress-bar-hue-start: 110;
  --progress-bar-hue-end: 10;
  --progress-bar-hue: var(--progress-bar-hue-start);

  margin-top: 3rem;
  margin-left: calc(1rem + var(--mrg-page-hor));
  margin-right: calc(2rem + var(--mrg-page-hor));

  height: .7rem;

  border-radius: var(--brd-radius);
  background-color: var(--clr-bg-3);
}

.typer__progress-bar .bar {
  position: relative;

  width: 0%;
  height: var(--progress-bar-height);

  background-color: hsl(var(--progress-bar-hue), 100%, 40%);
  border-radius: calc(var(--progress-bar-height) / 2);

  transition: width 1s linear;
}

.typer__progress-bar .icon {
  position: absolute;
  top: calc(var(--progress-bar-height) * -1 * 2);
  right: -2rem;

  font-size: 2rem;
}