div.typer-page__stats-box{
  display: flex;
  justify-content: space-around;
}

div.typer-page__stats {
  display: flex;
  justify-content: space-around;

  min-width: 25em;
  margin-top: 5em;

  padding: 2em;

  font-size: 1.3rem;

  background-color: var(--clr-bg-1);
  color: var(--clr-txt-3);
  border-radius: var(--brd-radius);
}

td.typer-page__stats-title {
  min-width: 10em;
}

td.typer-page__stats-result {
  color: var(--clr-txt-2);
  margin-left: 6em;
  font-weight: bold;
  text-align: left;
}