main {
  position: relative;
}

.typer-wrapper {
  --clr-backdrop: #f7f7f7b3;

  position: absolute;
  top: 0;
  left: calc(-1 * var(--mrg-page-hor));

  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;

  overflow-x: hidden;

  width: calc(100% + var(--mrg-page-hor) * 2);
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  .typer-wrapper {
    --clr-backdrop: #0a0a0ab3;
  }
}

.typer-mask {
  width: 100%;

  mask-image: linear-gradient(
    to right, 
    transparent 5%, 
    black 50%, 
    black 85%, 
    transparent 95%);
  mask-repeat: no-repeat; 
}

.typer {
  z-index: 1;

  --kana-font-size: 4rem;

  position: relative;

  margin-top: 3rem;

  transform: translateX(calc(50% - var(--fnt-size-kana) / 2));
}

.typer > input[type=text] {
  padding: .3em .3em;

  color: var(--clr-txt-1);
  background-color: transparent;
  border: none;

  font-family: inherit;
  font-size: 1.2em;

  transform: translateX(.7em);
}

.pre-countdown {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100%;

  padding: 0 1em 1em 0; /* Fix for width being 100vw and not 100% of available, clipped width */

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4rem;
  background-color: var(--clr-backdrop);
  
  z-index: 19;
}

.pre-countdown.hidden {
  pointer-events: none;
  opacity: 0;
}

.typer-page__restart {
  width: max-content;
  margin: 0 auto;
  padding: .6em;

  display: grid;
  place-items: center;

  border: 1px solid transparent;
  border-radius: 50%;

  font-size: 2.4rem;
  color: var(--clr-dark-white);
  background-color: var(--clr-red);

  cursor: pointer;
  transition: opacity .1s linear;
}

.typer-page__restart:hover {
  opacity: .7;
}

.typer-page__restart.hidden {
  pointer-events: none;
  opacity: 0;
}

div.typer-page__modal {
  position: fixed;

  padding-bottom: 6rem;
  
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  align-content: center;

  background-color: var(--clr-backdrop);

  z-index: 19;
}

p.typer-page__question {
  grid-column: 1 / end;
  font-weight: 600;
  font-size: 3rem
}

div.typer-page__button-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 1em;
  align-content: center;
  justify-content: center;
  justify-items: center;

  color: var(--clr-txt-1);
}

button.typer-page__leave,
button.typer-page__cancel {
  justify-content: center;
  font-size: 1.2rem;
  width: min-content;
}