main {
  gap: 2rem;
}

.typer-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.typer-settings__box-top {
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 60%;
  margin-top: 2em;
  padding: 1em 2em;
  background-color: var(--clr-bg-1);
}

h1.typer-settings__header {
  text-align: left;
  align-self: flex-start;
  margin-bottom: 0;
  width: auto;
}

h3.typer-settings__description {
  text-align: left;
  align-self: flex-start;
  margin-top: 0;
  font-weight: 400;
  color: var(--clr-txt-2);
  width: 100%;
}

section.typer-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content;
  gap: 2rem;
  justify-items: stretch;
  align-items: stretch;

  max-width: 70ch;
  width: 60%;  
  padding: 2em 3.4em;
  background-color: var(--clr-bg-1);
  color: var(--clr-txt-1);
  box-sizing: border-box; 
}

section.typer-settings > * {
  max-width: 30ch;
}

section.typer-settings > *:nth-child(1) {
  grid-row: 1 / end;
}

.typer-settings > form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  align-self: flex-start;
}

.typer-settings fieldset {
  border: 1px solid var(--clr-txt-3);
  border-radius: var(--brd-radius);
  padding: 1em;
  margin: 0.5em 0;
  height: fit-content;
}

.typer-settings fieldset legend {
  color: var(--clr-txt-1);
  font-weight: 500;
  padding: 0 0.5em;
}

.typer-settings > fieldset > legend {
  font-weight: 700;
  font-size: 1.1em;
}

.typer-settings ul {
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
  align-items: center;
}

.typer-settings li {
  margin: 0.3em 0;
  color: var(--clr-txt-1);
  text-align: center;
}

.typer-settings__text {
  color: var(--clr-txt-1);
  background-color: var(--clr-bg-1);

  width: 5em;

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: .5em;

  border: solid 1px var(--clr-txt-3);
  border-radius: var(--brd-radius);
}

.typer-settings__checkbox {
  color: var(--clr-txt-1);
  accent-color: var(--clr-bg-1);

  margin-top: 1em;
  margin-bottom: 1em;
}

input[type="checkbox"] {
  accent-color: var(--clr-red);
  margin-right: .5em;
}

.typer-settings__select {
  color: var(--clr-txt-1);
  background-color: var(--clr-bg-1);

  width: 7em;

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: .5em;

  border: solid 1px var(--clr-txt-3);
}