main {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin-left: 4em;
  margin-right: 4em;
  width: 100%;
}

section.help-page__box-top {
  flex: 0;

  max-width: 200ch;
  width: 100%;

  margin-top: 2em;
  padding: 1em 2em;

  background-color: var(--clr-bg-1);

  display: flex;
  flex-direction: column;
}

h1.help-page__header {
  text-align: left;
  align-self: flex-start;

  margin-bottom: 0;

  width: auto;
  height: auto;
}

h3.help-page__description {
  text-align: left;
  align-self: flex-start;

  margin-top: 0;

  font-weight: 400;
  color: var(--clr-txt-3);

  width: 100%;
  height: auto;
}

section.help-page__box-bottom,
section.help-page__box-middle {
  flex: 0;

  min-width: 60ch;
  max-width: 160ch;
  margin-left: 10%;
  margin-right: 10%;

  padding: 3em;

  background-color: var(--clr-bg-1);
}

div.help-page__link {
  text-align: center;
}

a.help-page__issues {
  text-decoration: none;
}

h4.help-page__desc {
  font-weight: 400;
  color: var(--clr-txt-3);
}

section.help-page__box-bottom{
  margin-top: 2em;
}

section.help-page__box-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: flex-start;
}
@media (max-width: 500px) {
  section.help-page__box-bottom {
    flex-direction: column;
  }
}

div.help-page__dictionary,
div.help-page__tutorial {
  flex: 1;
  height: 100%;
}

h3.help-page__topic {
  font-size: larger;
}

h4.help-page__dictionary__ul-phrase {
  color: var(--clr-txt-1);
  font-size: medium;
  margin: 0;
}

ul.help-page__dictionary__ul {
  color: var(--clr-txt-3);
  font-size: smaller;
}

ul.help-page__dictionary__ul > li,
ol.help-page__tutorial__ol > li {
  margin-bottom: 2em;
} 

ul.help-page__dictionary__ul > li::marker {
  color: var(--clr-red);
}

div.help-page__dictionary {
  border-right: var(--clr-bg-3) 1px dashed;
}
@media (max-width: 500px) {
  div.help-page__dictionary {
    border: none;
  }
}

ol.help-page__tutorial__ol {
  color: var(--clr-txt-3);
  font-size: medium;
}

div.help-page__dictionary,
div.help-page__tutorial {
  padding: 2em;
}
@media (max-width: 500px) {
  div.help-page__dictionary,
  div.help-page__tutorial {
    padding: 0;
  }
}