main {
  display: flex;
  flex-direction: column;
  row-gap: 4em;

  align-items: center;

  margin-left: 4em;
  margin-right: 4em;
  width: auto;
}

section.progress-page__box-top {
  flex: 0;

  max-width: 200ch;
  width: 100%;

  margin-top: 2em;
  padding: 1em 2em;

  background-color: var(--clr-bg-1);

  display: flex;
  flex-direction: column;
}

h1.progress-page__header {
  text-align: left;
  align-self: flex-start;

  margin-bottom: 0;

  width: auto;
  height: auto;
}

h3.progress-page__description {
  text-align: left;
  align-self: flex-start;

  margin-top: 0;

  font-weight: 400;
  color: var(--clr-txt-3);

  width: 100%;
  height: auto;
}

div.progress-page__container {
  flex: 1;

  display: flex;
  flex-direction: column;

  height: fit-content;

  min-width: 30ch;
  max-width: 180ch;
  width: calc(100% - 60ch);
}

form.progress-page__form {
  flex: 0;
  max-width: 100%;

  display: flex;
}

input.progress-page__search-input {
  flex: 1;

  padding: .5em 1em;
  margin-right: .5em;

  color: var(--clr-txt-1);
  background-color: var(--clr-bg-1);

  width: auto;

  font-family: inherit;
  font-size: 1em;

  border-radius: var(--brd-radius);
  border: solid 1px var(--clr-txt-3);
}

button.progress-page__search-button {
  padding: .5em 1em;

  width:auto;

  color: var(--clr-bg-1);
  background-color: var(--clr-txt-accent);

  cursor: pointer;

  font-family: inherit;
  font-size: 1em;

  border-radius: var(--brd-radius);
  border: none;

  display: flex;
  flex-direction: row;
  align-items: center;
}

i.fa-solid {
  margin-right: .5em;
}

section.progress {
  min-width: 30ch;
  height: max-content;
}

.progress ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2em, 10em));
  grid-auto-rows: 1fr;
  justify-content: space-evenly;

  width: 100%;
  height: auto;
  gap: 2em;

  list-style-type: none;

  padding: 0;
  left: 0;

  border-radius: var(--brd-radius);
}

.progress ul li {
  padding: .5em;
  width: auto;

  background-color: var(--clr-bg-1);

  border-radius: var(--brd-radius);
}

.progress h3 {
  text-align: center;

  color: var(--clr-txt-1);
}

.progress-bar {
  height: .7rem;

  border-radius: var(--brd-radius);

  background-color: var(--clr-bg-3);

  margin: 1rem;
}

.progress-bar .bar {
  width: 25%;
  height: .7rem;

  background-color: var(--clr-txt-1);
}