section.tos-page__intro {
  flex: 0;

  max-width: 200ch;
  width: 100%;

  margin-top: 2em;
  padding: 1em 2em;

  background-color: var(--clr-bg-1);

  display: flex;
  flex-direction: column;
}

h1.tos-page__header {
  text-align: left;
  align-self: flex-start;

  margin-bottom: 0;

  width: auto;
  height: auto;
}

h4.tos-page__desc {
  text-align: left;
  align-self: flex-start;

  margin-top: 0;

  font-weight: 400;
  color: var(--clr-txt-2);

  width: 100%;
  height: auto;
}

section.tos-page__terms, section.tos-page__policy {
  flex: 1;

  min-width: 60ch;
  max-width: 100ch;
  margin-left: 10%;
  margin-right: 10%;

  padding: 3em;

  background-color: var(--clr-bg-1);

  display: flex;
  flex-direction: column;
  align-items: left;
}

h2.tos-page__title {
  margin-top: 0;

  text-align: center;    
}
