main {
  display: flex;
}

main > nav + * {
  flex: 1;
  
}

.typer-settings > form {
  display: flex;
}

.typer-settings > form > * {
  flex-grow: 1;
}

div.typer-page__select {
  width: 90%;

  margin-top: 2em;
  padding: 1em 2em;

  text-align: center;

  font-weight: 500;
}

nav.typer-page__left-nav{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 3.5rem;
  left: -19em;
  overflow: visible;
  width: 20em;
  height: 100%;
  background-color: var(--clr-bg-1);
  transition: left 0.3s ease;
  z-index: 21;

  box-shadow: calc(var(--bxs-radius) + 12px) 0px var(--bxs-spread) -10px var(--bxs-color);
  -webkit-box-shadow: calc(var(--bxs-radius) + 12px) 0px var(--bxs-spread) -10px var(--bxs-color);
  -moz-box-shadow: calc(var(--bxs-radius) + 12px) 0px var(--bxs-spread) -10px var(--bxs-color);
}

nav.typer-page__left-nav.expanded {
  left: 0;
}


.nav-arrow {
  position: absolute;
  right: -1em;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 0.3em;
  font-size: 1.5em;
  color: var(--clr-red);
  background-color: var(--clr-bg-1);
  border-radius: 0 var(--brd-radius) var(--brd-radius) 0;
  z-index: 1000;
  cursor: pointer;
  transition: color .1s linear;

  box-shadow: 
    calc(var(--bxs-radius) + 10px) 0px var(--bxs-spread) -10px var(--bxs-color),
    calc(var(--bxs-radius) + 10px) 15px var(--bxs-spread) -10px var(--bxs-color),
    calc(var(--bxs-radius) + 10px) -15px var(--bxs-spread) -10px var(--bxs-color);
  -webkit-box-shadow: 
    calc(var(--bxs-radius) + 10px) 0px var(--bxs-spread) -10px var(--bxs-color),
    calc(var(--bxs-radius) + 10px) 15px var(--bxs-spread) -10px var(--bxs-color),
    calc(var(--bxs-radius) + 10px) -15px var(--bxs-spread) -10px var(--bxs-color);
  -moz-box-shadow: 
    calc(var(--bxs-radius) + 10px) 0px var(--bxs-spread) -10px var(--bxs-color),
    calc(var(--bxs-radius) + 10px) 15px var(--bxs-spread) -10px var(--bxs-color),
    calc(var(--bxs-radius) + 10px) -15px var(--bxs-spread) -10px var(--bxs-color);
}

.nav-arrow:hover {
  color: #a60210ab;
}

img.typer-page__logo {
  padding: 1em;
}

ul.typer-page__ul {
  margin-top: 1em;

  padding-left: 1em;
  padding-right: 1em;

  transition: all .1s linear;
}

.typer-page__ul li {
  width: 90%;

  font-weight: 500;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.typer-page__icon {
  font-weight: 500;
  font-size: large;

  margin-left: .5em;
  margin-right: 1em;
  width: 3em; 

  font-family: var(--fnt-family-jap);

  word-break: keep-all;
}

.typer-page__ul hr {
  width: 15em;
  color: var(--clr-bg-3);
  border-style: dashed;
}

.typer-page__left-nav button {
  background-color: var(--clr-bg-1);
  color: var(--clr-txt-1);
  
  font-family: inherit;
  font-size: 1em;

  border-radius: var(--brd-radius);
  border: none;

  cursor: pointer;

  width: 100%;
  padding: .5em 1em;

  transition: all .1s linear;
  transition-property: color, background-color;
}

.typer-page__left-nav button:hover {
  background-color: var(--clr-red);
  color: var(--clr-white);
}

button.typer-page__begin {
  background-color: var(--clr-red);

  width: 10em;
  height: 2em;

  cursor: pointer;

  font-size: 25px;

  border: none;
  border-radius: 10px;
}

button.typer-page__begin > span {
  flex: 1;
  padding-right: 1.6rem;
}

button.typer-page__begin:hover {
  opacity: .7;
}