.typer {
  height: 100%;
  position: relative;

  overflow-x: hidden;
}

.center-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
}

.kana {
  transition: transform .1s linear;

  white-space: nowrap;
}

.typer input {
  width: 15ch;
}
